* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Dosis', sans-serif;
    padding: 10px 20px;
    margin: 20px 0;
}

h1 {
    font-size: 3.1em;
    text-align: center;
    font-weight: 700;
    color: #8dc63F;
}

h2 {
    font-size: 2.2em;
    text-align: left;
    font-weight: 600;
    color: #0c3455;
}

h3 {
    font-size: 1.3em;
    text-align: left;
    font-weight: 600;
    border-radius: 5px;
    color: #0c3455;
    background: #8dc63f;
}

p {
    font-family: 'Montserrat';
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 1.2em;
    text-align: justify;
    color: #333;
}

.container-images {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.image-solution img{
    width: 60%;
}

@media only screen and (max-width: 600px) {
    .image-solution img{
        width: 100%;
    }
}

.table {
    margin: 3em 0;
}